<%- include('../functions'); %>

    <% // can ai remove tagHTML from the destructuring
    const { title, description, slug, _id, tagHTML = "", tags = null, pubDate = null } = entry;
    const dateDisplay = pubDate ? prepDates(pubDate).dateDisplay : null;
    %>


    <div class="card">
      <div class="card--date smaller">
        <%- publish ? `${dateDisplay}` : "Unpublished" %>
      </div>
      <h4 class="card--title">
        <a href="/reader/slug/<%= slug %>/id/<%= _id %>"><%- title %></a>
        <% if(user) { %>
        <a href="/editor/slug/<%= slug %>/id/<%= _id %>" class="edit-button">[ &#9998; ]</a>
        <% } %> 
      </h4>
      <p class="card--description"><%- description %></p>
      <% if(tags){
        topicsDisplay = prepTopics(tags); %>
      <p class="smaller"><%- topicsDisplay %></p>
      <% } %>
    </div>