    <%- include ('buildPubDate'); %>
    <%- include ('buildTopics'); %>

    <%
    const { title, description, slug, tagHTML = "", author } = entry;
    const dateDisplay = prepDates(entry.pubDate).dateDisplay;
    const topicsDisplay = prepTopics(entry.tags);
    %>


    <div class="card">
      <div class="card--date smaller">
        <%- publish ? `${dateDisplay}` : "Unpublished" %>
      </div>
      <h4 class="card--title">
        <a href="/reader/slug/<%= slug %>"><%- title %></a>
        <% if(user) { %>
        <a href="/editor/slug/<%= slug %>" class="edit-button">[ &#9998; ]</a>
        <% } %> 
      </h4>
      <p class="card--description"><%- description %></p>
      <p class="smaller"><%- topicsDisplay %></p>
    </div>