<% const pageType = requestedTag ? `listByTags/${requestedTag}` : `listByDate`; %>

<% if (page > 1) { %>
  <a href="<%= `/${pageType}/${page - 1 }` %>">Previous </a>
<% } %>

<% if (page < pages) { %>
  <a href="<%= `/${pageType}/${ page + 1 }` %>">Next</a><br>
<% } %>
    
<% if (adjacentEntries) { %>
    <% if (adjacentEntries.prev) { %>
      <a href="/reader/slug/<%= adjacentEntries.prev.slug %>">Previous: <%= adjacentEntries.prev.title %></a>
    <% } %>
    || 
    <% if (adjacentEntries.next) { %>
      <a href="/reader/slug/<%= adjacentEntries.next.slug %>">Next: <%= adjacentEntries.next.title %></a><br>
    <% } %>
<% } %>