<%
const pageType = requestedTag ? `listByTags/${requestedTag}` : `listByDate`;
const { next, prev } = adjacentEntries;
%>

<% if (page > 1) { %>
  <a href="<%= `/${pageType}/${ page - 1 }` %>" class="pagination">&lt; Previous </a>
<% } %>

<% if (page < pages) { %>
  <a id="next" href="<%= `/${pageType}/${ page + 1 }` %>" class="pagination">Next &gt;</a><br>
<% } %>
    
<% if (adjacentEntries) { %>
  <div class="adjacents">
    <% if (adjacentEntries.next) { %>
      <div class="adjacents--next"><a href="<%= `/reader/slug/${next.slug}/id/${next._id}` %>" class="pagination">Next: <%= next.title %></a></div>
    <% } %>
    <% if (adjacentEntries.prev) { %>
      <div class="adjacents--previous"><a href="<%= `/reader/slug/${prev.slug}/id/${prev._id}` %>" class="pagination">Previous: <%= prev.title %></a></div>
    <% } %>
  </div>
<% } %>