<% const { title, subtitle, content = "", markdown = "", preview, tags = "", pubDate = "", dateDisplay = "", dateString = "", timeString = "", isPublishedChecked, _id } = entry; %>
<% const tagString = tags.join(", "), tagArray = []; %>
<% entry.tags.forEach(tag => tagArray.push(`<a href="/listByTags/tag/${tag}">${tag}</a>`)); %>
<% const tagHTML = tagArray.join(', '); %>
      
      <div id="preview">
        <h3>List Preview</h3>
        <section class="listSection">
          <h4 id="list_title" class="list"><a><%= title %></a></h4>
          <h5 id="list_subtitle" class="list"><%= subtitle %></h5>
          <h5 id="list_dateDisplay" class="list"><%= dateDisplay %></h5>
          <p id="list_content" class="list" ><%- preview %></p>
          <div id="list_tags" class="list"><%- tagHTML %></div>
        </section>

        <section class="readerSection">
          <h3>Reader Preview</h3>
          <h3 id="reader_title" class="reader"><a><%= title %></a></h3>
          <h4 id="reader_subtitle" class="reader"><%= subtitle %></h4>
          <h4 id="reader_dateDisplay" class="reader"><%= dateDisplay %></h4>
          <div id="reader_content" class="reader"><%- content %></div>
          <div id="reader_tags" class="reader"><%- tagHTML %></div>
        </section>