<%- include('../functions'); %>

    <% // can I remove tagHTML from the destructuring
    const { title, description, slug, _id, authorID, publish, tagHTML = "", tags = null, pubDate = null } = entry;
    const dateDisplay = pubDate ? prepDates(pubDate).dateDisplay : null;

    const pseudonym = users ? users[authorID].pseudonym : "";
    const isOwner = user ? user._id.toString() === authorID : false;
    const role = user ? user.role : "";
    %>


    <div class="card">
      <div class="card--date smaller">
        <%- publish ? `${dateDisplay}` : "Unpublished" %>
      </div>
      <div class="card--pseudonym smaller">
        <a href="/contributor/<%- authorID %>">
          <%- pseudonym %>
        </a>
      </div>
      <h4 class="card--title">
        <a href="/reader/slug/<%= slug %>/id/<%= _id %>"><%- title %></a>
        <% if(isOwner || role === "admin") { %>
        <a href="/editor/slug/<%= slug %>/id/<%= _id %>" class="edit-button">[ &#9998; ]</a>
        <% } %> 
      </h4>
      <p class="card--description"><%- description %></p>
      <% if(tags) {
        topicsDisplay = prepTopics(tags); %>
      <p class="smaller"><%- topicsDisplay %></p>
      <% } %>
    </div>