<%- include('../functions'); %>
<%
const { title, slug, description, HTML, preview = false, _id, authorID, pubDate = null, tags = null } = entry;
const pseudonym = !attribution ? user.pseudonym : attribution[ Object.getOwnPropertyNames(attribution)[0]].pseudonym;
const shortText = !attribution ? user.shortText : attribution[ Object.getOwnPropertyNames(attribution)[0]].shortText;
const dateDisplay = pubDate === null ? "unpublished" : prepDates(entry.pubDate).dateDisplay;
const topicsDisplay = tags ? "" : prepTopics(entry.tags);
const isOwner = user ? user._id.toString() === authorID : false;
const role = user ? user.role : "";
%>
  <div class="date-display small">
  <%= dateDisplay === "undefined NaN, NaN" ? "Unpublished" : dateDisplay %>
  <% if((isOwner || role === 'admin') && !preview) { %>
  <a href="/editor/slug/<%= slug %>" class="button">[ &#9998; ] </a>
  <% } %>
  </div>
  <div class="title-box">
    <h2><%- title %></h2>
    <p class="pseudonym"><%- pseudonym %></p>
    <h3><%- description %></h3>
  </div>

  <section class="reader--entry">
    <div><%- HTML %></div>
    <p><%- topicsDisplay %></p>
    <div class="attribution">
      <p class="about">About <%- pseudonym %></p>
      <p class="shortText"><%- shortText %></p>
    </div>
  </section>
