<%- include('partials/header'); -%>
<% const { title, description, markdown = "", preview, tags = "",
           pubDate = "", dateDisplay = "", dateString = "", timeString = "",
           isPublishedChecked, _id, authorID, previewHTML }
           = entry; %>
<% const tagString = tags.join(", "), tagArray = []; %>
<% entry.tags.forEach(tag => tagArray.push(`<a href="/listByTags/tag/${tag}">${tag}</a>`)); %>
<% const tagHTML = tagArray.join(', '); %>

<main id="container-content">
  <div class="title-box">
    <h2 class="section-title">Editor</h2>
  </div>
  <div class="message" name="message" id="message"></div>
  <form id="toolbar" class="toolbar">
    <button id="tools_update" class="tools" name="updatePreview" alt="Update Preview section.">Preview</button>
    &nbsp; | &nbsp;
    <button id="tools_upload" class="tools" name="upload" alt="Update the server.">Upload</button>
    &nbsp;
    <button id= "tools_revert" class="tools" name="revert" alt="Revert the post to the state on the server.">Revert</button>
    &nbsp;
    <button id="tools_openReader" class="tools" name="openReader" alt="Open post in a reader. Does not save or upload.">Reader</button>
    &nbsp; | &nbsp;
    <button id="tools_del" class="tools red" name="del" alt="Permanently delete the post.">Delete</button>
  <hr>
  </form>
  <section>
    <form id="editor">
      <section class="editorSection">
        <div class="elementContainer">
          <label for="title">Title</label><br>
          <input type="text" name="title" class="form-el editor" id="editor_title"
          <% if(title) { %>value="<%= title %>" <% } %> autofocus required>
        </div>

        <div class="elementContainer">
          <label for="subtitle">Description</label><br>
          <input type="text" name="description" class="form-el editor" id="editor_subtitle"
          <% if(description) { %>value="<%= description %>" <% } %>>
        </div>

        <div class="elementContainer">
          <label for="markdown">Markdown Content</label><br>
          <textarea id="editor_markdown" name="markdown" class="form-el editor"><%= markdown %></textarea>
        </div>

        <div class="elementContainer">
          <label for="tags">Tags</label><br>
          <input type="text" name="tags" class="form-el editor" id="editor_tags"
          <% if(tags) { %>value="<%= tagString %>" <% } %>>
        </div>

        <div class="elementContainer">
          <label for="isPublished" class="publish">Publish?</label>
          <input type="checkbox" name="isPublished" class="form-el editor publish" id="editor_checkbox" <%= isPublishedChecked %>>
          <br>
          <label for="datePicker" class="publish">Date</label><br>
          <input type="date" name="datePicker" class="form-el editor publish" id="datePicker" value="<%- dateString %>">
          <br>
          <label for="timePicker" class="publish">Time</label><br>
          <input type="time" name="timePicker" class="form-el editor publish" id="timePicker" value="<%- timeString %>">
          <p class="message" name="publishError" id="publishError">Please select a date or deselect "Publish?"</p>
        </div>

        <div class="elementContainer">        
          <input type="hidden" name="authorID" class="form-el editor" id="editor_authorID" value="<%= authorID %>">
          <input type="hidden" name="entryID" class="form-el editor" id="editor_entryID" value="<%- _id %>">
        </div>
      </section>

      <section id="preview">
        <%- previewHTML %>
      </section>

    </form>
  </section>
</main>
<%- include('partials/footer') -%>

  <script src="/scripts/editor_script.js"></script>