<%- include('./functions'); %>
<%- include('partials/header'); %>

<%
// SET UP 
const { title, description, markdown = "", tags = null, pubDate = null, publish, _id, authorID, } = entry;
const preview = true;

const tagString = tags !== null ? tags.join(", ") : ""; // used for the tags field in the editor form

const { dateDisplay, dateString, timeString } = prepDates(pubDate);
const isPublished = publish ? " checked" : "";
%>

<main id="container-content">
  <div class="title-box">
    <h2 class="pageTitle">Editor</h2>
  </div>
  <form id="toolbar" class="toolbar">
    <button id="tools_update" class="tools label" name="updatePreview" alt="Update Preview section.">PREVIEW</button>
    &nbsp; | &nbsp;
    <button id="tools_upload" class="tools label" name="upload" alt="Update the server.">UPLOAD</button>
    &nbsp;
    <button id= "tools_revert" class="tools label" name="revert" alt="Revert the post to the state on the server.">REVERT</button>
    &nbsp;
    <button id="tools_openReader" class="tools label" name="openReader" alt="Open post in a reader. Does not save or upload.">READER</button>
    &nbsp; | &nbsp;
    <button id="tools_del" class="tools label" name="del" alt="Permanently delete the post.">DELETE</button>
  </form>
  <section>
  <p id="message"> </p>
    <form id="editor">
      <section class="editorSection">
        <div class="elementContainer">
          <label for="title">Title</label><br>
          <input type="text" name="title" class="form-el editor" id="editor_title"
          <% if(title) { %>value="<%= title %>" <% } %> autofocus required>
        </div>

        <div class="elementContainer">
          <label for="subtitle">Description</label><br>
          <input type="text" name="description" class="form-el editor" id="editor_subtitle"
          <% if(description) { %>value="<%= description %>" <% } %>>
        </div>

        <div class="elementContainer">
          <label for="markdown">Markdown Content</label><br>
          <textarea id="editor_markdown" name="markdown" class="form-el editor"><%= markdown %></textarea>
        </div>

        <div class="elementContainer">
          <label for="tags">Topics</label><br>
          <input type="text" name="tags" class="form-el editor" id="editor_tags"
          <% if(tags) { %>value="<%= tagString %>" <% } %>>
        </div>

        <div class="elementContainer">
          <label for="publish" class="publish">Publish?</label>
          <input type="checkbox" name="publish" class="form-el editor publish" id="editor_checkbox"<%= isPublished %>>
          <br>
          <label for="datePicker" class="publish">Date</label><br>
          <input type="date" name="datePicker" class="form-el editor publish" id="datePicker" value="<%- dateString %>">
          <br>
          <label for="timePicker" class="publish">Time</label><br>
          <input type="time" name="timePicker" class="form-el editor publish" id="timePicker" value="<%- timeString %>">
          <p class="message" name="publishError" id="publishError">Please select a date or deselect "Publish?"</p>
        </div>

        <div class="elementContainer">
          <input type="hidden" name="authorID" class="form-el editor" id="editor_authorID" value="<%= user._id %>">
          <input type="hidden" name="entryID" class="form-el editor" id="editor_entryID" value="<%- _id %>">
        </div>
      </section>

      <section id="preview">
        <%- include('partials/content', { entry, preview }); %>
      </section>

    </form>
  </section>
</main>
<%- include('partials/footer') -%>

  <script src="/scripts/editor_script.js"></script>