<%- include('partials/header'); -%>
<% const { title, subtitle, content = "", markdown = "", preview, tags = "",
           pubDate = "", dateDisplay = "", dateString = "", timeString = "",
           isPublishedChecked, _id, authorID }
           = entry; %>
<% const tagString = tags.join(", "), tagArray = []; %>
<% entry.tags.forEach(tag => tagArray.push(`<a href="/listByTags/tag/${tag}">${tag}</a>`)); %>
<% const tagHTML = tagArray.join(', '); %>

<div id="container-gutter" class="medium">
  <%- include('partials/gutter'); -%>
</div> <!-- close #container-gutter -->

<div id="container-content">
    <div class="headings">
      <h3 class="section-title">Editor</h3>
    </div>
    <div class="message" name="message" id="message"></div>
    <form id="toolbar">
      <button id="tools_update" class="tools" name="updatePreviews" alt="Update Preview section.">Preview</button>
      &nbsp; | &nbsp;
      <button id="tools_upload" class="tools" name="upload" alt="Update the server.">Upload</button>
      &nbsp;
      <button id= "tools_revert" class="tools" name="revert" alt="Revert the post to the state on the server.">Revert</button>
      &nbsp;
      <button id="tools_openReader" class="tools" name="openReader" alt="Open post in a reader. Does not save or upload.">Reader</button>
      &nbsp; | &nbsp;
      <button id="tools_del" class="tools red" name="del" alt="Permanently delete the post.">Delete</button>
    </form>
    <hr>
  </header>
  <main>
    <form id="editor">
      <section class="editorSection">
        <div class="elementContainer">
          <label for="title">Title</label><br>
          <input type="text" name="title" class="form-el editor" id="editor_title"
          <% if(title) { %>value="<%= title %>" <% } %> autofocus required>
        </div>

        <div class="elementContainer">
          <label for="subtitle">Subtitle</label><br>
          <input type="text" name="subtitle" class="form-el editor" id="editor_subtitle"
          <% if(subtitle) { %>value="<%= subtitle %>" <% } %>>
        </div>

        <div class="elementContainer">
          <label for="markdown">Markdown Content</label><br>
          <textarea id="editor_markdown" name="markdown" class="form-el editor"><%= markdown %></textarea>
        </div>

        <div class="elementContainer">
          <label for="tags">Tags</label><br>
          <input type="text" name="tags" class="form-el editor" id="editor_tags"
          <% if(tags) { %>value="<%= tagString %>" <% } %>>
        </div>

        <div class="elementContainer">
          <label for="editor_checkbox" class="publish">Publish?</label>
          <input type="checkbox" name="isPublished" class="form-el editor publish" id="editor_checkbox" <%= isPublishedChecked %>>
          <label class="publish"> Date &amp; Time</label>
          <input type="date" name="datePicker" class="form-el editor publish" id="datePicker" value="<%- dateString %>">
          <input type="time" name="timePicker" class="form-el editor publish" id="timePicker" value="<%- timeString %>">
          <p class="message" name="publishError" id="publishError">Please select a date or deselect "Publish?"</p>
        </div>

        <div class="elementContainer">        
          <input type="hidden" name="authorID" class="form-el editor" id="editor_authorID" value="<%= authorID %>">
          <input type="hidden" name="entryID" class="form-el editor" id="editor_entryID" value="<%- _id %>">
        </div>
      </section>
      
      <div id="preview">
        <h3 class="section-title">Preview</h3>
        <section class="listSection">
          <h4 id="list_title" class="list"><a><%= title %></a></h4>
          <h5 id="list_subtitle" class="list"><%= subtitle %></h5>
          <h5 id="list_dateDisplay" class="list"><%= dateDisplay %></h5>
          <div id="list_tags" class="list"><%- tagHTML %></div>
        </section>

        <section class="readerSection">
          <h3 id="reader_title" class="reader"><a><%= title %></a></h3>
          <h4 id="reader_subtitle" class="reader"><%= subtitle %></h4>
          <h4 id="reader_dateDisplay" class="reader"><%= dateDisplay %></h4>
          <div id="reader_content" class="reader"><%- content %></div>
          <div id="reader_tags" class="reader"><%- tagHTML %></div>
        </section>
      </div>

    </form>
  </main>
</div> <!-- close #container-content -->

<div id="container-footer">
  <%- include('partials/footer') -%>
</div> <!-- close #container-footer -->
</div>

  <script src="/scripts/editor_script.js"></script>