<%- include('partials/header'); -%>
  <div class="headings">
    <h3>Modify to Serve Meaningful Errors</h3>
  </div>
  <main>
    <% if(errorMessage){ %>
      <p><%= errorMessage %></p>
    <% } %>
    <hr>
    <% posts.forEach(post => { %>
    <section>
      <h4 class="preview-el"><a href="reader/<%= post.slug %>"><%= post.title %></a></h4>
      <h5 class="preview-el"><%= post.subtitle %></h5>
      <div class="preview-el"><%= post.preview %></div>
      <p class="preview-el small-text">
        <% const tagHTML = []; %>
        <% post.tags.forEach(tag => { %>
        <%   tagHTML.push(`<a href="/tags/${tag}">${tag}</a>`); %>
        <% }); %>
        <%- tagHTML.join(', '); %>
      </p>
      <% if(user) { %>
      <p class="preview-el small-text"><a href="/editor/<%= post.slug %>">[ Edit Post ]</a></p>
      <% } %>
    </section>
    <hr>
    <% }); %>
  </main>

  <% if(!user){ %>
  <script src="/scripts/login.js"></script>
  <% } %>

<%- include('partials/footer'); -%>