    <%- include('partials/header'); -%>

      <div id="container-content">
        <% if(!publish){ %>
        <h3 id="page-title">Unpublished Entries</h3>
        <% } %>  
        <main>
          <% entries.forEach(entry => { %>
            <% const { title, description, slug, tagHTML = "", dateDisplay, author } = entry; %>
          <div class="card">
            <div class="card_date">
              <%= publish ? dateDisplay : "Unpublished" %>
            </div>
            <h4 class="card_title">
              <a href="/reader/slug/<%= slug %>"><%- title %></a>
              <% if(user) { %>
              <a href="/editor/slug/<%= slug %>" class="preview-el medium button">&nbsp; [ &#9998;&nbsp;edit ]</a>
              <% } %>
            </h4>
            <p class="preview-el"><%- description %></p>
            <p class="preview-el small-text"><%- tagHTML %></p>
          </div>
          <% }); %>
        </main>
        <div class="pagination">
          <%- include('partials/navigateEntries'); %>
        </div>
      </div> <!-- close #container-content from header.ejs -->

      <div id="container-footer">
        <%- include('partials/footer') -%>
      </div> <!-- close #container-footer -->
    </div>
      
    <%- include('partials/scripts') %>
</body>
</html>