  <%- include('partials/header', { topics, archive }) -%>

  <main>
    <%
    if (requestedTag) {
      `<h2 class="pageTitle">Entries by Topic: "${requestedTag}"</h2>`
    }
    if (errMessage) {
      `<h2 class="pageTitle">An Occurred</h2>
      <p>${errMessae}</p>
    }
    %>
    <% entries.forEach(entry => { %>
      <%- include('partials/card', { entry }) -%>
    <% }); %>
    <%- include('partials/navigateEntries'); %>
  </main>

  <%- include('partials/footer') -%>
      
  <%- include('partials/scripts') %>
</body>
</html>