<%- include('partials/header'); -%>
  <main>
      <section>
        <hr>
        <h4><%= post.title %></h4>
        <h5><%= post.subtitle %></h5>
        <div class="pubDate"><%= post.pubDate %></div>
        <% if(user) { %>
        <div><a href="/editor/<%= post.slug %>">[ Edit Post ]</a></div>
        <% } %>
        <div><%= post.body %></div>
        <div>
          <% const tagHTML = []; %>
          <% post.tags.forEach(tag => { %>
          <%   tagHTML.push(`<a href="/tags/${tag}">${tag}</a>`); %>
          <% }); %>
          <%- tagHTML.join(', '); %>
        </div>
      </section>
      <hr>
  </main>

  <% if(!user){ %>
  <script src="/scripts/login.js"></script>
  <% } %>

<%- include('partials/footer'); -%>