<%- include('partials/startHeader'); -%><%- include('partials/endHeaderPost'); -%>
<div class="headings">
  <h3><%= post.title %></h3>
</div>
</header>
  <main>
      <section>
        <hr>
        <% if(user) { %>
          <p class="preview-el small-text editBtn"><a href="/editor/<%= post.slug %>">&#9998;</a></p>
        <% } %>
        <h4><%= post.subtitle %></h4>
        <div class="pubDate"><%= post.pubDate %></div>
        <div><%- post.content %></div>
        <div>
          <% const tagHTML = []; %>
          <% post.tags.forEach(tag => { %>
          <%   tagHTML.push(`<a href="/tag/${tag}">${tag}</a>`); %>
          <% }); %>
          <%- tagHTML.join(', '); %>
        </div>
      </section>
      <hr>
  </main>

  <% if(!user){ %>
  <script src="/scripts/login.js"></script>
  <% } %>

<%- include('partials/footer'); -%>