  <%- include('partials/header'); %>
  
  <main>
    <%- include('partials/content.ejs', { entry }); -%>
    
    <%

    let html = `<div class="adjacents">`;
    if(pagination.error) html += `<div class="adjacents--previous">${pagination.message}</div>`;
    if(pagination.next) html += `<div class="adjacents--next"><a href="/reader/slug/${pagination.next.slug}/id/${pagination.next._id}" class="pagination">Next: ${pagination.next.title}</a></div>`;
    if(pagination.prev) html += `<div class="adjacents--previous"><a href="/reader/slug/${pagination.prev.slug}/id/${pagination.prev._id}" class="pagination">Previous: ${pagination.prev.title}</a></div>`;
    html += `</div>`;

    %>
    <%- html %>
  </main>

  <%- include('partials/footer') -%>    
  <%- include('partials/scripts') %>
</body> 