<% const { title, slug, description, HTML, tagHTML = "", dateDisplay = "" } = entry; %>

  <%- include('partials/header'); -%>

  <main>
    <div class="date-display">
    <%= dateDisplay === "undefined NaN, NaN" ? "Unpublished" : dateDisplay %>
    <% if(user) { %>
    <a href="/editor/slug/<%= slug %>" class="button">[ &#9998; ] </a>
    <% } %>
    </div>
    <div class="title-box">
      <h2><%= title %>
      </h2>
      <h3><%- description %></h3>
    </div>

    <section>
      <div><%- HTML %></div>
      <p><%- tagHTML %></p>
    </section>
    <%- include('partials/navigateEntries'); -%>
  </main>

  <%- include('partials/footer') -%>
      
  <%- include('partials/scripts') %>
</body>
</html>