<%- include('partials/Header'); -%>
<% const { title, slug, subtitle, content, tagHTML = "", dateDisplay = "", } = entry; %>
<div class="headings">
  <h3><%= title %></h3>
</div>
  <main>
      <section>
        <hr>
        <% if(user) { %>
          <p class="preview-el small-text editBtn"><a href="/editor/<%= slug %>">&#9998;</a></p>
        <% } %>
        <h4><%- subtitle %></h4>
        <div class="dateDisplay"><%= dateDisplay %></div>
        <div><%- content %></div>
        <p><%- tagHTML %></p>
      </section>
      <hr>
  </main>

  <% if(!user){ %>
  <script src="/scripts/login.js"></script>
  <% } %>

<%- include('partials/footer'); -%>