<%- include('partials/Header'); -%>
<% const { title, slug, subtitle, HTML, tagHTML = "", dateDisplay = "" } = entry; %>


<div id="container-gutter" class="medium">
  <%- include('partials/gutter'); -%>
</div>


<div id="container-content">
  <div class="headings">
    <h3><%= title %></h3>
  </div>
    <main>
        <section>
          <% if(user) { %>
            <p class="preview-el small-text editBtn"><a href="/editor/slug/<%= slug %>">&#9998;</a></p>
          <% } %>
          <h4><%- subtitle %></h4>
          <div class="date-display">
          <%= dateDisplay === "undefined NaN, NaN" ? "Unpublished" : dateDisplay %>
          </div>
          <div><%- HTML %></div>
          <p><%- tagHTML %></p>
        </section>
        <hr>
    </main>
    <nav class="pagination">
      <%- include('partials/navigateEntries'); -%>
    </nav>
</div>
<div id="container-footer">
  <%- include('partials/footer') -%>
</div>
      
<%- include('partials/scripts') %>
