<%- include('partials/Header'); -%>
<% const { title, slug, subtitle, content, tagHTML = "", dateDisplay = "" } = entry; %>
<div class="headings">
  <h3><%= title %></h3>
</div>
  <main>
      <section>
        <hr>
        <% if(user) { %>
          <p class="preview-el small-text editBtn"><a href="/editor/slug/<%= slug %>">&#9998;</a></p>
        <% } %>
        <h4><%- subtitle %></h4>
        <div class="dateDisplay">
        <%= dateDisplay === "undefined NaN, NaN" ? "Unpublished" : dateDisplay %>
        <div><%- content %></div>
        <p><%- tagHTML %></p>
      </section>
      <hr>
  </main>
  <nav class="pagination">
    <%- include('partials/navigateEntries'); -%>
  </nav>

  <% if(!user){ %>
  <script src="/scripts/login.js"></script>
  <% } %>

<%- include('partials/footer'); -%>