  <%- include('partials/header') %>

  <main>
    <%- include('partials/content.ejs', { entry }); -%>
    <%- include('partials/navigateEntries'); -%>
  </main>

  <%- include('partials/footer') -%>
      
  <%- include('partials/scripts') %>
</body>
</html>