<%- include('partials/header'); -%>
    <div class="headings">
      <h3>Entries Tagged with "<%- requestedTag -%>"</h3>
    </div>
  <main>
    <% if(message){ %>
      <p><%- message %></p>
    <% } %>
    <hr>
    <% entries.forEach(entry => { %>
      <% const { title, subtitle, slug, preview, tagHTML = "", dateDisplay = "", author } = entry; %>
    <section>
      <% if(user) { %>
      <p class="preview-el small-text editBtn"><a href="/editor/<%= slug %>">&#9998;</a></p>
      <% } %>
      <h4 class="preview-el"><a href="reader/<%= slug %>"><%- title %></a></h4>
      <h5 class="preview-el"><%- subtitle %></h5>
      <h5 class="preview-el"><%- dateDisplay %></h5>
      <p class="preview-el"><%- preview %></p>
      <p class="preview-el small-text"><%- tagHTML %></p>
    </section>
    <hr>
    <% }); %>
  </main>
  <div class="pagination">
    <%- include('partials/navigateEntries'); %>
  </div>

  <% if(!user){ %>
  <script src="../scripts/login.js"></script>
  <% } %>

<%- include('partials/footer'); -%>