<%- include('partials/startHeader'); -%><%- include('partials/endHeaderList'); -%>
    <div class="headings">
      <h3>Posts Tagged with "<%- requestedTag -%>"</h3>
    </div>
  </header>
  <main>
    <% if(message){ %>
      <p><%- message %></p>
    <% } %>
    <hr>
    <% posts.forEach(post => { %>
    <section>
      <% if(user) { %>
      <p class="preview-el small-text editBtn"><a href="../editor/<%= post.slug %>">&#9998;</a></p>
      <% } %>
      <h4 class="preview-el"><a href="../reader/<%= post.slug %>"><%- post.title %></a></h4>
      <h5 class="preview-el"><%- post.subtitle %></h5>
      <h5 class="preview-el"><%- post.dateString %></h5>
      <p class="preview-el"><%- post.preview %></p>
      <p class="preview-el small-text">
        <% const tagHTML = []; %>
        <% post.tags.forEach(tag => { %>
        <%   tagHTML.push(`<a href="../tag/${tag}">${tag}</a>`); %>
        <% }); %>
        <%- tagHTML.join(', '); %>
      </p>
    </section>
    <hr>
    <% }); %>
  </main>

  <% if(!user){ %>
  <script src="../scripts/login.js"></script>
  <% } %>

<%- include('partials/footer'); -%>