<%
const {
  _id, email, role, pseudonym, byline, shortText, longText
} = contributor[0];

// This may not be needed for anything on this page
const contributorID = pageDetails.blank ? user._id.toString() : contributor[0]._id.toString();
%>
  
  <h2>Create Acccount</h2>

  <form id="toolbar" class="toolbar" name="toolbar">
    <button id="tools_save" class="tools label" name="save">SAVE</button>
    &nbsp; | &nbsp;
    <button id="tools_preview" class="tools label" name="preview">PREVIEW</button>
    &nbsp; | &nbsp;
    <button id="tools_delete" class="tools label" name="del" disabled>DELETE</button>
    <br>
    <p class="message" id="error-form"></p>
  </form>

  <section class="editorSection">
    <form id="editor" name="userEditor" action="/createAccount">
      <p class="hint">All fields required.</p>

      <% if(user.role === "admin") {%>
      <fieldset id="select-role-group" class="form-el editor" name="role">
        <legend>Select a Role:<sup>&dagger;</sup></legend>

        <input type="radio" id="select-contributor" name="selectRole" value="contributor" <%- role === 'contributor' ? 'checked' : ''; %>>
        <label for="select-contributor">Contributor</label><br>

        <% if(role === "editor" ) %>
        <input type="radio" id="select-editor" name="selectRole" value="editor" <%- role === 'editor' ? 'checked' : ''; %>>
        <label for="select-editor">Editor</label><br>
        
        <input type="radio" id="select-admin" name="selectRole" value="admin" <%- role === 'admin' ? 'checked' : ''; %>>
        <label for="select-admin">Administrator</label>
        
        <p class="message" id="error-select-role"></p>
      </fieldset>
      
      <% } else { %>
      <p>Your role: <%- role %></p>
      <% } %>
      

      <div class="fields">
        <label for="email">Email<sup>&dagger;</sup></label>
        <input type="text" class="form-el editor" id="email" name="email" placeholder="example@service.com" value="<%- email %>" required>
        <p class="message" id="error-email"></p>
      </div>

      <div id="passwordFields">
      <% if(isOwner || role === ''){ %>

        <div class="fields">
          <label for="password">Password</label>
          <input type="password" class="form-el editor" id="password" name="password" required>
          <p class="hint">8 - 64 characters</p>
          <p class="message" id="error-password"></p>
        </div>
  
        <div class="fields">
          <label for="confirm">Password (Confirm)</label>
          <input type="password" class="form-el editor" id="confirm" name="confirm" required>
          <p class="hint">8 - 64 characters</p>
          <p class="message" id="error-confirm"></p>
        </div>

      <% } %>
      </div>

      <div class="fields">
        <label for="pseudonym">Pseudonym*</label>
        <input type="text" class="form-el editor" id="pseudonym" name="pseudonym" placeholder="Public-facing name" value="<%- pseudonym %>" required>
        <p class="hint">4 - 256 characters</p>
        <p class="message" id="error-pseudonym"></p>
      </div>

      <div class="fields">
        <label for="byline">By-Line*</label>
        <input type="text" class="form-el editor" id="byline" name="byline" placeholder="Author extras." value="<%- byline %>" required>
        <p class="hint">8 - 512 characters.</p>
        <p class="message" id="error-byline"></p>
      </div>

      <div class="fields">
        <label for="short-description">Short Description*</label>
        <input type="textarea" class="form-el editor" id="shortText" name="shortText" placeholder="Tell our readers a bit about yourself." value="<%- shortText %>" required>
        <p class="hint">8 - 1024 characters.</p>
        <p class="message" id="error-shortText"></p>
      </div>
      
      <div class="fields">
        <label for="long-description">Long Description&dagger;</label>
        <input type="textarea" class="form-el editor" id="longText" name="longText" placeholder="Tell our readers more detail about yourself." value="<%- longText %>" required>
        <p class="hint">8 - 12000 characters.</p>
        <p class="message" id="error-longText"></p>
      </div>
      
      <div class="hidden">
        <input type="text" name="contributorID" id="contributorID" value="<%- contributorID %>">
        <input type="text" name="userID" id="userID" value="<%- user._id %>">
      </div>

  <!-- template in case a new field is needed in the future
      <div class="fields">
        <label for=""></label>
        <input type="textarea" class="form-el editor" name="" placeholder="" required>
        <p class="hint">x - y characters</p>
        <p class="message" id="error-long-"></p>
      </div> 
    -->
    
      <p>* Do not use Markdown.</p>

    </section>
  </form>
  <%
  /*
  🔸  Change this section so that entries do not show. It should only display who is logged in. Plus, this might
  🔸  work better near the top of the page instead of the bottom.
  */
  
  if(!pageDetails.blank) {
    
  %>
  <section class="userPreview">
    <%- include('../partials_user/contributor', contributor) %>
  <% } %>
  </section>