<%
const { _id, pseudonym, longText, entries, byline } = contributors[i];
const contributorID = contributors[i]._id.toString(); // requested contributor
const isOwner = contributorID === user._id.toString();
%>

<div class="title-box">
  <% if(isOwner || user.role === "admin") { %>
    <a href="/admin/<%= contributorID %>" class="edit-button">[ &#9998; ]</a>
  <% } %>

  <h2><%- pseudonym %></h2>
  <h3><%- byline %></h3>
</div>

<div class="reader--contributor">
  <%- longText %>
</div>
<br><br><br>
<h3><%- pseudonym %>'s Entries</h3>

<% entries.forEach(entry => { %>
<%- include('../partials_entry/card', { entry, users: false }); %>
<% }); %>
