<% 
const { pseudonym, shortText, _id } = contributor;
%>

<div class="card">
  <img src="/images/contributor-pics/<%= _id %>.JPG" class="profile-pic--list">
  <h3><a href="/contributor/<%= _id %>"><%= pseudonym %></a> <%= _id %></h3>
  <p class="description"><%= shortText %></p>

</div>