<% 
const { pseudonym, shortText } = contributor;
const contributorID = contributor._id.toString();
const isOwner = user ? user._id.toString() === contributorID : false;
const role = user ? user.role : "";
%>

<div class="card">
  <img src="/images/contributor-pics/<%= contributorID %>.JPG" class="profile-pic--list">

  <% if(isOwner || role === "admin") { %>
    <a href="/admin/<%= contributorID %>" class="edit-button">[ &#9998; ]</a>
  <% } %>
  <!-- remove the last contributorID from this line VVV -->
  <h3><a href="/contributor/<%= contributorID %>"><%= pseudonym %></a> <%= contributorID %></h3>

  <p class="description"><%= shortText %></p>

</div>